h2 {
    float: right;
    padding-top: -5%;
    padding-left: 0%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-top: -3%;
  }
  h1 {
    background-color: bisque;
    background-clip: padding-box, content-box;
    padding: 2%;
    border: 3px solid black;
  }

  p {
    font-size: 200%;
  }

  body {
    background-color: green;
  }